<h2>Administracao</h2>
<ul>
  <h2>Livro Caixa</h2>
    <ul>
      <li><a href="#">Fichas</a></li>
      <li><a href="#">Lançar Cliente</a></li>
      <li><a href="#">Lançar Despesas</a></li>
      <li><a href="#">Fluxo de Caixa</a></li>
    </ul>
</ul>

<ul>
  <h2>Meus Cadastros</h2>
    <ul>
      <li><%=link_to "Cadastro de Clientes", new_client_path()%></li>
      <li><a href="#">Cadastro de Funcionários</a></li>
      <li><a href="#">Cadastro de Serviços</a></li>
    </ul>
</ul>

<ul>
  <h2>Listagem</h2>
    <ul>
      <li><%=link_to "Clientes", clients_path()%></li>
      <li><a href="#">Funcionários</a></li>
    </ul>

</ul>

